# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*
.pnpm-debug.log*

# Diagnostic reports
report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Coverage and debug
coverage
*.lcov
.nyc_output
.eslintcache
.stylelintcache

# Dependency directories
node_modules/
bower_components/
jspm_packages/
.web_modules/

# Build directories
dist/
dist-ssr/
.cache/
.nuxt/
.docusaurus/
.serverless/
.fusebox/
.dynamodb/

# Editor directories and files
.vscode/*
.idea/
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Ignore specific files
public/vite.svg
src/assets/react.svg
